.bug-widget {
    position: fixed;
    border: 1px solid #e7e7e7;
    background-color: #FFFFFF;
    height: 40px;
}
.bug-widget.left {
    left: 0;
    border-left: none;
    border-radius: 0 4px 4px 0;
}
.bug-widget.left .bug-toggle {
    float: right;
}
.bug-widget.left .bug-main {
    border-right: 1px solid #e7e7e7;
}
.bug-widget.right {
    right: 0;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.bug-widget.right .bug-toggle {
    float: left;
}
.bug-widget.right .bug-main {
    border-left: 1px solid #e7e7e7;
}
.bug-widget.top {
    top: 10px;
}
.bug-widget.bottom {
    bottom: 20px;
}
.bug-widget .bug-toggle {
    cursor: pointer;
    display: inline-block;
    padding: 5px 4px 0 5px;
}
.bug-widget .bug-toggle i.bug-icon {
    display: block;
}
.bug-widget .bug-toggle i.bug-arrow {
    padding-left: 2px;
}
.bug-widget .bug-main {
    display: inline-block;
    height: 40px;
}
.bug-widget .bug-main.hide {
    display: none;
}
.bug-widget .bug-main a {
    padding: 11px 5px 11px 5px;
    border: none;
    background: none;
    text-decoration: none;
    position: relative;
    top: 11px;
}
.bug-widget .bug-main a:hover {
    background-color: #f8f8f8;
}
