<h2 id="title">Welcome to Ember.js</h2>

{{outlet}}

{{bug-widget url='https://github.com/elwayman02/ember-bug-widget/issues/new'}}

{{bug-widget
    url='https://github.com/elwayman02/ember-bug-widget/issues/new'
    text='Bottom Left'
    horizontal='left'}}

{{#bug-widget
    horizontal='left'
    vertical='top'}}
  I am a custom bug widget: <a href="http://jhawk.co" target="_blank">Click me!</a>
{{/bug-widget}}

{{bug-widget
    url='https://github.com/elwayman02/ember-bug-widget/issues/new'
    text='Top Right'
    vertical='top'}}
